.red {
    color: red;
}
.red-square {
    width: 20px;
    height: 20px;
    background-color: red;
    margin-right: 10px;
}
.green-square {
    width: 20px;
    height: 20px;
    background-color: green;
    margin-right: 10px;
}
.container {
    display: grid;
    width: 250px;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
    
